.pengiun-nav {
    background-color: #FFFBF0;
    height: 600px;
    
}
.nav-img {
    width: 225px;
    height: 31px;
    margin-left: 100px;
}

.header-section {
    padding-left: 200px;
}

.header-section img {
    width: 400px;
    height: 400px;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    color: #FABE4C;
}

.header-section h1 {
    font-weight: 700;
    font-size: 80px;
}
.header-blue {
    color: #39394E;
}

.button-section {
    padding-top: 15px;
    padding-left: 20px;
    background-color: #A4BC46;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.button-section img {
    width: 30px;
    height: 15px;
}

.custom-button {
    color: white;
    margin-top: -20px;
}


.women-section {
    height: 600px;
    background-color: white;
}

.card img {
    height: 400px;
}

.card-img {
    background-color: #F1F1F1;
    border-radius: 20px;
}

.men-section {
    height: 600px;
    background-color: white;
    margin-top: 200px;
}

.last-section {
    margin-top: 300px;
}
.last-section img {
    width: 499px;
    height: 354px;
}

.last-section-right img {
    width: 78px;
    height: 82px;
}

.last-section-left {
    margin-left: 20px;
    font-size: 15px;
}